<h1>Hi and welcome to this mini app</h1>
<p>Here you can add stuff to your cart, view your cart and remove items from your cart!</p>
<p>Isn't it awesome? To get started, click on {{#link-to "products"}}products{{/link-to}}</p>
