<h2>List of products</h2>

{{#each model as |p|}}
  <div class="product col-md-3">
    <p>{{p.productName}}</p>
    <img src="/productImages/{{p.productImageName}}" alt="image for {{p.productName}}" />
  </div>
{{/each}}
